/* 样式重置 */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, code, ul, ol, li, dl, dt, dd, form, fieldset, input, textarea, table, th, td {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
    padding: 20px;
}

#content {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#timeline {
    margin: 20px 0;
}

.event {
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 3px solid; /* 删除默认颜色，颜色将在JS中设置 */
}

.event h3 {
    margin: 0;
    color: #333;
}

.event p {
    margin: 5px 0 0;
    color: #666;
}

/* 分页样式 */
.pagination-list {
    display: flex; /* 使用 flex 布局，水平排列 */
    justify-content: center; /* 水平居中对齐 */
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

.pagination-list .page-item {
    margin: 0 15px; /* 增加按钮之间的间距 */
}

.pagination-list .page-item a, .pagination-list .page-item .active, .pagination-list .page-item .prev, .pagination-list .page-item .next, .pagination-list .page-item .first, .pagination-list .page-item .last {
    display: inline-block; /* 保持按钮样式一致 */
    padding: 5px 10px; /* 调整按钮大小 */
    border: 1px solid #ddd;
    border-radius: 10px; /* 添加圆角 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 添加阴影 */
    background-color: #fff; /* 背景颜色为白色 */
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s; /* 添加过渡效果 */
}

.pagination-list .page-item a:hover, .pagination-list .page-item .prev:hover, .pagination-list .page-item .next:hover, .pagination-list .page-item .first:hover, .pagination-list .page-item .last:hover {
    background-color: #e0e0e0; /* 悬停时背景颜色 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* 悬停时阴影效果 */
}

.pagination-list .page-item .active {
    background-color: #2196F3; /* 活动页背景颜色 */
    color: #fff;
    pointer-events: none;
}

.pagination-list .more {
    margin: 0 15px; /* 确保占位符间距与其他按钮一致 */
    border: none; /* 移除边框 */
    background: transparent; /* 背景透明 */
    color: #333; /* 设置占位符颜色 */
    pointer-events: none; /* 禁用点击事件 */
}

/* 404 页面样式 */
.error-page {
    text-align: center;
    padding: 50px 20px;
}

.error-page h1 {
    font-size: 100px;
    margin-bottom: 20px;
    color: #2196F3;
}

.error-page p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #666;
}

.error-page .home-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #2196F3;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.error-page .home-link:hover {
    background-color: #1976D2;
}
